.words {
    height: 100px;
    overflow-y: auto;
}

.words p {
    color: #19A7CE;
    margin-block-end: 0%;
    font-weight: 500;
}

.disappear {
    display: none;
}

#butt {
    position: absolute;
    top: 240px;
    left: 40%;
}

.b-example-divider {
    width: 100%;
    height: 3.5vh;
    background-color: rgba(0, 0, 0, .1);
    background-color: #393E46;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}


.div1, .div2 {
    height: 45vh;
}

#butt1 {
    margin-top: 25px;
}

.text-body-secondary img {
    height: 30px;
}

footer {
    height: 6.5vh;
}


.text-body-secondary {
    color: aliceblue;
}